%footer.footer
  .footerNav 
    .footerNav__title  夢口人
    .footerNav__subtitle  夢を語りたい、聞きたい
    .footerNav__post  
      .footerNav__post--icon
        = link_to "#" do
          投稿する
          =icon('fas', 'edit')
  .footerColums  
    .footerColums__primary
      = link_to "#" do
        新着作品一覧
      = link_to "#" do
        受賞作品一覧
    .footerColums__second
      = link_to "#" do
        運営会社
      = link_to "#" do
        利用規約
      = link_to "#" do
        プライバシーポリシー
      = link_to "#" do
        お問い合わせ

