.registration
  .title
    夢口人
  .user-main
    = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
      = devise_error_messages! 
      .user-main__contents
        .user-main__title
        ユーザー登録
        .nickname
          = f.label :nickname 
          %span 必須
          %br/
          = f.text_field :nickname, maxlength: "6"
        .e-mail
          = f.label :email
          %span 必須
          %br/
          = f.email_field :email
        .password
          = f.label :passwaord
          %span 必須
          %br/
          = f.password_field :password, autocomplete: "off"
        .password_confirmation
          = f.label :password_confirmation
          %span 必須
          %br/
          = f.password_field :password_confirmation
        .gender
          = f.label :gender
          %br/
          - %w(男 女 選択しない).each.with_index do |ingredient,i|
            %label
              = check_box_tag 'gender[ingredients][]', ingredient,false,id:"gender_ingredients_#{i}"
              = ingredient
          %span
          %br/
        .age
          = f.label :age
          %span
          %br/
          = f.text_field :age
        .prefectures
          = f.label :prefectures
          %span
          %br/
          = f.text_field :prefectures
      .user-actions
        = f.submit "登録する"
