%header.header
  %h1.main-header　
  %li.main-header__title 夢口人
  %li.main-header__subtitle 夢を語りたい、聞きたい
  %h2.sub-header
    %ul.sub-header__post
      .sub-header__post--icon
        = link_to "#" do
          投稿する
          =icon('fas', 'edit')
    %ul.sub-header__topic
      -if user_signed_in?
        %li.sub-header__topic--list 
          = link_to "new_post_path" do
            新規投稿
        %li.sub-header__topic--list 
          = link_to "destroy_user_session_path, method: :delete" do
            ログアウト
      -else
        %li.sub-header__topic--list 
          = link_to "new_user_session_path" do
            ログイン
        %li.sub-header__topic--list 
          = link_to "新規登録", new_user_registration_path, class: 'post'
      